* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
  font-family: Lato;
}

.black {
  color: black;
}

.red {
  color: red;
}

.none {
  background-color: green;
}

.activeCard {
  border: 5px solid greenyellow;
}

.cardFront {
  background: #fff;
  padding: 5px 5px;
  cursor: pointer;
}

.cardBackward {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  border: 3px solid white;
}

@media (orientation: portrait) {
  #board {
    display: none;
  }
  .information {
    display: block;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .information {
    display: none;
  }
  .card {
    width: 60px;
    height: 75px;
    font-weight: bold;
    font-size: .7rem;
    -webkit-box-shadow: 0.2em 0.2em 0.5em #333;
            box-shadow: 0.2em 0.2em 0.5em #333;
    cursor: pointer;
    border-radius: 6px;
  }
  #board {
    min-height: 100vh;
    padding: 10px 15px;
    background-color: green;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #board .up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #board .up .deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #board .up .deck div:first-child {
    margin-right: 20px;
  }
  #board .up .mainStack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #board .up .mainStack div:not(:last-child) {
    margin-right: 20px;
  }
  #board .subStacks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
    min-height: 75px;
  }
  #board .subStacks .subStack {
    width: 60px;
    position: relative;
    cursor: pointer;
  }
  #board .subStacks .subStack .subStackCard {
    position: absolute;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .card {
    width: 80px;
    height: 105px;
    font-size: .8rem;
  }
  #board .subStacks .subStack {
    width: 80px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .card {
    width: 120px;
    height: 145px;
    font-size: 1.1rem;
  }
  #board .up {
    padding: 20px 15px;
  }
  #board .subStacks {
    margin-top: 120px;
  }
  #board .subStacks .subStack {
    width: 120px;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .card {
    width: 160px;
    height: 205px;
    font-size: 1.6rem;
    border-radius: 8px;
  }
  .cardBackward {
    border: 5px solid white;
  }
  .activeCard {
    border: 10px solid greenyellow;
  }
  #board .up {
    padding: 20px 15px;
  }
  #board .subStacks {
    margin-top: 120px;
  }
  #board .subStacks .subStack {
    width: 160px;
  }
}
/*# sourceMappingURL=style.css.map */