* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
    font-family: 'Lato', 'sans-serif';
}

:root {
    --blueBright: #00d4ff;
    --blue: #090979;
    --blueDark: #020024;
    --red: #f00;
    --green: #008000;
    --greenBright:#acff2f;
    --left: 80px;
    $value: 80;
}

.rotate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--green);
    text-align: center;
    height: 100vh;
    color: white;
    div {
        .logo {
            font-style: italic;
            font-size: 2rem;
        }
        .cards {
            display: flex;
            flex-direction: row;
            margin: 20px 0;
            height: 75px;
            .card {
                width: 60px;
                height: 75px;
                font-weight: bold;
                font-size: .7rem;
                box-shadow: 0.2em 0.2em 0.5em #333;
                border-radius: 6px;
                text-align: left;
                position: absolute;
                left: -1500px;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: linear;
            }
            .card:nth-child(1) {
                animation-name: opening_1;   
                animation-delay: 100ms;
            }
            .card:nth-child(2) {
                animation-name: opening_2;   
                animation-delay: 200ms;
            }
            .card:nth-child(3) {
                animation-name: opening_3;   
                animation-delay: 300ms;
            }
            .card:nth-child(4) {
                animation-name: opening_4;   
                animation-delay: 400ms;
            }
            .card:nth-child(5) {
                animation-name: opening_5;   
                animation-delay: 500ms;
            }
        }
    }
}

@keyframes opening_1 {
    0% {left: -1500px;}
    100% {left: 80px;}
}
@keyframes opening_2 {
    0% {left: -1500px;}
    100% {left: 90px;}
}
@keyframes opening_3 {
    0% {left: -1500px;}
    100% {left: 100px;}
}
@keyframes opening_4 {
    0% {left: -1500px;}
    100% {left: 110px;}
}
@keyframes opening_5 {
    0% {left: -1500px;}
    100% {left: 120px;}
}
@media only screen and (min-width: 280px) and (orientation: portrait) {
    @keyframes opening_1 {
        0% {left: -1500px;}
        100% {left: 80px;}
    }
    @keyframes opening_2 {
        0% {left: -1500px;}
        100% {left: 90px;}
    }
    @keyframes opening_3 {
        0% {left: -1500px;}
        100% {left: 100px;}
    }
    @keyframes opening_4 {
        0% {left: -1500px;}
        100% {left: 110px;}
    }
    @keyframes opening_5 {
        0% {left: -1500px;}
        100% {left: 120px;}
    }
}
@media only screen and (min-width: 320px) and (orientation: portrait) {
    @keyframes opening_1 {
        0% {left: -1500px;}
        100% {left: 100px;}
    }
    @keyframes opening_2 {
        0% {left: -1500px;}
        100% {left: 110px;}
    }
    @keyframes opening_3 {
        0% {left: -1500px;}
        100% {left: 120px;}
    }
    @keyframes opening_4 {
        0% {left: -1500px;}
        100% {left: 130px;}
    }
    @keyframes opening_5 {
        0% {left: -1500px;}
        100% {left: 140px;}
    }
}
@media only screen and (min-width: 360px) and (orientation: portrait) {
    @keyframes opening_1 {
        0% {left: -1500px;}
        100% {left: 120px;}
    }
    @keyframes opening_2 {
        0% {left: -1500px;}
        100% {left: 130px;}
    }
    @keyframes opening_3 {
        0% {left: -1500px;}
        100% {left: 140px;}
    }
    @keyframes opening_4 {
        0% {left: -1500px;}
        100% {left: 150px;}
    }
    @keyframes opening_5 {
        0% {left: -1500px;}
        100% {left: 160px;}
    }
}
@media only screen and (min-width: 411px) and (orientation: portrait) {
    @keyframes opening_1 {
        0% {left: -1500px;}
        100% {left: 140px;}
    }
    @keyframes opening_2 {
        0% {left: -1500px;}
        100% {left: 150px;}
    }
    @keyframes opening_3 {
        0% {left: -1500px;}
        100% {left: 160px;}
    }
    @keyframes opening_4 {
        0% {left: -1500px;}
        100% {left: 170px;}
    }
    @keyframes opening_5 {
        0% {left: -1500px;}
        100% {left: 180px;}
    }
}
@media only screen and (min-width: 540px) and (orientation: portrait) {
    @keyframes opening_1 {
        0% {left: -1500px;}
        100% {left: 210px;}
    }
    @keyframes opening_2 {
        0% {left: -1500px;}
        100% {left: 220px;}
    }
    @keyframes opening_3 {
        0% {left: -1500px;}
        100% {left: 230px;}
    }
    @keyframes opening_4 {
        0% {left: -1500px;}
        100% {left: 240px;}
    }
    @keyframes opening_5 {
        0% {left: -1500px;}
        100% {left: 250px;}
    }
}

.info {
    background: radial-gradient(var(--blueBright),var(--blue));
    position: absolute;
    border-radius: 50%;
    color: white;
    bottom: 15px;
    right: 15px;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 1rem;
    p {
        color: white;
        font-weight: 700;
    }
    z-index: 2;
}

.modalInfo {
    z-index:3;
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.4);
    .modalContent {
        top: 15%;
        margin: auto;
        background-color:#fff;
        position: relative; 
        padding: 0;
        outline: 0;
        width: 600px;
        border-radius: 5px;
        section.header {
            background: linear-gradient(90deg, var(--blueDark) 0%,var(--blue) 35%, var(--blueBright) 100%);
            color: white;
            padding: 5px 0 5px 40px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        section.content {
            padding: 20px 30px;
        }
        section p:not(:first-child) {
            margin-top: 30px;
        }
    }
}

.modalEndOfGame {
    z-index:3;
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.4);
    .modalContent {
        top: 15%;
        margin: auto;
        background-color:#fff;
        position: relative; 
        padding: 0;
        outline: 0;
        width: 600px;
        border-radius: 5px;
        section.header {
            background: linear-gradient(90deg, var(--blueDark) 0%,var(--blue) 35%, var(--blueBright) 100%);
            color: white;
            padding: 5px 0 5px 40px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        section.content {
            padding: 20px 30px;
        }
        section p:not(:first-child) {
            margin-top: 30px;
        }
    }
}

.black {
    color: black;
}

.red {
    color: var(--red);
}

.none {
    background-color: var(--green);
}

.activeCard {
    border: 5px solid var(--greenBright);
    transition: 100ms;
}

.cardFront {
    background: #fff;
    padding: 5px 5px;
    cursor: pointer;
}

.cardBackward {
    background: var(--blueDark);
    background: linear-gradient(90deg, var(--blueDark) 0%,var(--blue) 35%, var(--blueBright) 100%);
    border: 2px solid white;
}

@media only screen and (orientation: portrait) {
    #board {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .rotate {
        div {
            .logo {
                font-size: 3.5rem;
            }
            .description {
                font-size: 2rem;
            }
            .cards {
                height: 140px;
                .card {
                    width: 100px;
                    height: 140px;
                    font-size: 1.1rem;
                    border-radius: 8px;
                }
                .card:nth-child(1) {
                    animation-name: opening_1;   
                    animation-delay: 100ms;
                }
                .card:nth-child(2) {
                    animation-name: opening_2;   
                    animation-delay: 400ms;
                }
                .card:nth-child(3) {
                    animation-name: opening_3;   
                    animation-delay: 500ms;
                }
                .card:nth-child(4) {
                    animation-name: opening_4;   
                    animation-delay: 600ms;
                    z-index: 4;
                }
                .card:nth-child(5) {
                    animation-name: opening_5;   
                    animation-delay: 700ms;
                    z-index: 5;
                }
            }
        }
    }
    
    @keyframes opening_1 {
        0% {left: -1500px;}
        100% {left: 300px;}
    }
    @keyframes opening_2 {
        0% {left: -1500px;}
        100% {left: 320px;}
    }
    @keyframes opening_3 {
        0% {left: -1500px;}
        100% {left: 340px;}
    }
    @keyframes opening_4 {
        0% {left: -1500px;}
        100% {left: 360px;}
    }
    @keyframes opening_5 {
        0% {left: -1500px;}
        100% {left: 380px;}
    }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {
    @keyframes opening_1 {
        0% {left: -1500px;}
        100% {left: 400px;}
    }
    @keyframes opening_2 {
        0% {left: -1500px;}
        100% {left: 420px;}
    }
    @keyframes opening_3 {
        0% {left: -1500px;}
        100% {left: 440px;}
    }
    @keyframes opening_4 {
        0% {left: -1500px;}
        100% {left: 460px;}
    }
    @keyframes opening_5 {
        0% {left: -1500px;}
        100% {left: 480px;}
    }
}

@media only screen and (min-width: 568px) and (orientation: landscape) {
    .rotate {
        display: none;
    }
    .card {
        width: 60px;
        height: 75px;
        font-weight: bold;
        font-size: .7rem;
        box-shadow: 0.2em 0.2em 0.5em #333;
        cursor: pointer;
        border-radius: 6px;
    }
    #board {
        min-height: 100vh;
        padding: 10px 15px;
        background-color: var(--green);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        .up {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .deck {
                display: flex;
                div:first-child {
                    margin-right: 20px;
                }
            }
            .mainStack {
                display: flex;
                div:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
        .subStacks {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            min-height: 75px;
            .subStack {
                width: 60px;
                position: relative;
                cursor: pointer;
                .subStackCard {
                    position: absolute;
                }
            }
        }
    }
    .modalInfo {
        padding-top:50px;
        .modalContent {
            margin: auto;
            background-color:#fff;
            position: relative; 
            padding: 0;
            outline: 0;
            width: 400px;
            section.header {
                font-size: .8rem;
            }
            section.content {
                padding: 10px 20px;
                font-size: .8rem;
            }
            section p:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
    .modalEndOfGame {
        padding-top:50px;
        .modalContent {
            margin: auto;
            background-color:#fff;
            position: relative; 
            padding: 0;
            outline: 0;
            width: 400px;
            section.header {
                font-size: .8rem;
            }
            section.content {
                padding: 10px 20px;
                font-size: .8rem;
            }
            section p:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (min-width: 667px) and (orientation: landscape) {
    .card {
        width: 80px;
        height: 105px;
        font-size: .8rem;
    }
    #board {
        .subStacks {
            .subStack {
                width: 80px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .card {
        width: 120px;
        height: 145px;
        font-size: 1.1rem;
    }
    #board {
        .up {
            padding: 20px 15px;
        }
        .subStacks {
            margin-top: 80px;
            .subStack {
                width: 120px;
            }
        }
    }
    .info {
        bottom: 25px;
        right: 25px;
        border: 3px solid white;
        width: 30px;
        height: 30px;
        line-height: 130%;
        span {
            font-size: 1.2rem;
        }
    }
    .modalInfo {
        .modalContent {
            width: 600px;
            section.header {
                font-size: 1.2rem;
                padding: 10px 0 10px 40px;
            }
            section.content {
                padding: 20px 30px;
                font-size: 1rem;
            }
            section p:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
    .modalEndOfGame {
        .modalContent {
            width: 600px;
            section.header {
                font-size: 1.2rem;
                padding: 10px 0 10px 40px;
            }
            section.content {
                padding: 20px 30px;
                font-size: 1rem;
            }
            section p:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {
    .card {
        width: 160px;
        height: 205px;
        font-size: 1.6rem;
        border-radius: 8px;
    }
    .cardBackward {
        border: 5px solid white;
    }
    .activeCard {
        border-width: 10px;
    }
    #board {
        .up {
            padding: 20px 15px;
        }
        .subStacks {
            margin-top: 120px;
            .subStack {
                width: 160px;
            }
        }
    }
    .info {
        bottom: 35px;
        right: 35px;
        border: 3px solid white;
        width: 50px;
        height: 50px;
        line-height: 1.5;
        span {
            font-size: 1.7rem;
        }
    }
    .modalInfo {
        .modalContent {
            width: 800px;
            section.header {
                font-size: 1.4rem;
            }
            section.content {
                padding: 30px 40px;
                font-size: 1.3rem;
            }
            section p:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
    .modalEndOfGame {
        .modalContent {
            width: 800px;
            section.header {
                font-size: 1.4rem;
            }
            section.content {
                padding: 30px 40px;
                font-size: 1.3rem;
            }
            section p:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .card {
        width: 100px;
        height: 145px;
        font-size: 1rem;
        border-radius: 8px;
    }
    .activeCard {
        border-width: 5px;
    }
    .cardBackward {
        border: 3px solid white;
    }
    #board {
        width: 70%;
        margin: 50px auto 0 auto;
        min-height: 650px;
        .subStacks {
            margin-top: 50px;
            .subStack {
                width: 100px;
            }
        }
    }
}
  