* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
  font-family: 'Lato', 'sans-serif';
}

:root {
  --blueBright: #00d4ff;
  --blue: #090979;
  --blueDark: #020024;
  --red: #f00;
  --green: #008000;
  --greenBright:#acff2f;
}

.info {
  background: radial-gradient(var(--blueBright), var(--blue));
  position: absolute;
  border-radius: 50%;
  bottom: 15px;
  right: 15px;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  line-height: 1rem;
  z-index: 2;
}

.info span {
  color: white;
  font-weight: 700;
}

.modal {
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modalContent {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
  border-radius: 5px;
}

.modal .modalContent section.header {
  background: -webkit-gradient(linear, left top, right top, from(var(--blueDark)), color-stop(35%, var(--blue)), to(var(--blueBright)));
  background: linear-gradient(90deg, var(--blueDark) 0%, var(--blue) 35%, var(--blueBright) 100%);
  color: white;
  padding: 5px 0 5px 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal .modalContent section.content {
  padding: 20px 30px;
}

.modal .modalContent section p:not(:first-child) {
  margin-top: 30px;
}

.black {
  color: black;
}

.red {
  color: var(--red);
}

.none {
  background-color: var(--green);
}

.activeCard {
  border: 5px solid var(--greenBright);
  -webkit-transition: 100ms;
  transition: 100ms;
}

.cardFront {
  background: #fff;
  padding: 5px 5px;
  cursor: pointer;
}

.cardBackward {
  background: var(--blueDark);
  background: -webkit-gradient(linear, left top, right top, from(var(--blueDark)), color-stop(35%, var(--blue)), to(var(--blueBright)));
  background: linear-gradient(90deg, var(--blueDark) 0%, var(--blue) 35%, var(--blueBright) 100%);
  border: 2px solid white;
}

@media (orientation: portrait) {
  #board {
    display: none;
  }
  .information {
    display: block;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .information {
    display: none;
  }
  .card {
    width: 60px;
    height: 75px;
    font-weight: bold;
    font-size: .7rem;
    -webkit-box-shadow: 0.2em 0.2em 0.5em #333;
            box-shadow: 0.2em 0.2em 0.5em #333;
    cursor: pointer;
    border-radius: 6px;
  }
  #board {
    min-height: 100vh;
    padding: 10px 15px;
    background-color: green;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #board .up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #board .up .deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #board .up .deck div:first-child {
    margin-right: 20px;
  }
  #board .up .mainStack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #board .up .mainStack div:not(:last-child) {
    margin-right: 20px;
  }
  #board .subStacks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
    min-height: 75px;
  }
  #board .subStacks .subStack {
    width: 60px;
    position: relative;
    cursor: pointer;
  }
  #board .subStacks .subStack .subStackCard {
    position: absolute;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .card {
    width: 80px;
    height: 105px;
    font-size: .8rem;
  }
  #board .subStacks .subStack {
    width: 80px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .card {
    width: 120px;
    height: 145px;
    font-size: 1.1rem;
  }
  #board .up {
    padding: 20px 15px;
  }
  #board .subStacks {
    margin-top: 80px;
  }
  #board .subStacks .subStack {
    width: 120px;
  }
  .info {
    bottom: 25px;
    right: 25px;
    border: 3px solid white;
    width: 30px;
    height: 30px;
    line-height: 130%;
  }
  .info span {
    font-size: 1.2rem;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .card {
    width: 160px;
    height: 205px;
    font-size: 1.6rem;
    border-radius: 8px;
  }
  .cardBackward {
    border: 5px solid white;
  }
  .activeCard {
    border-width: 10px;
  }
  #board .up {
    padding: 20px 15px;
  }
  #board .subStacks {
    margin-top: 120px;
  }
  #board .subStacks .subStack {
    width: 160px;
  }
  .info {
    bottom: 35px;
    right: 35px;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    line-height: 1.5;
  }
  .info span {
    font-size: 1.7rem;
  }
}

@media (min-width: 1367px) {
  .card {
    width: 100px;
    height: 145px;
    font-size: 1rem;
    border-radius: 8px;
  }
  .activeCard {
    border-width: 5px;
  }
  .cardBackward {
    border: 3px solid white;
  }
  #board {
    width: 70%;
    margin: 50px auto 0 auto;
    min-height: 650px;
  }
  #board .subStacks {
    margin-top: 50px;
  }
  #board .subStacks .subStack {
    width: 100px;
  }
}
/*# sourceMappingURL=style.css.map */