* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.black {
    color: black;
}

.red {
    color: red;
}

.none {
    background-color: green;
}

.activeCard {
    border: 5px solid greenyellow;
}

.card {
    width: 100px;
    height: 130px;
    font-weight: bold;
    box-shadow: 0.2em 0.2em 0.5em #333;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 6px;
}
.cardFront {
    background: #fff;
    padding: 5px 5px;
    cursor: pointer;
}

.cardBackward {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: 3px solid white;
}

#board {
    max-width: 900px;
    min-height: 80vh;
    padding: 10px 15px;
    background-color: green;
    border-radius: 3px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    
    .up {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .deck {
            display: flex;
        }
        .mainStack {
            display: flex;
        }
    }
    .subStacks {
        width: 100%;
        display: flex;
        margin-top: 100px;
        min-height: 130px;
        .subStack {
            width: 100px;
            margin-right: 20px;
            position: relative;
            cursor: pointer;
            .subStackCard {
                position: absolute;
            }
        }
    }
    


}










